 
<ion-content>
  
  <form #form="ngForm" (ngSubmit)="getDirectionForm()" novalidate>
    <ion-item>
      <ion-label>Origin Coordinates</ion-label>
      <ion-input type="number" required [(ngModel)]="origin.latitude" name="latitude" ngControl="latitude"></ion-input>
      <ion-input type="number" required [(ngModel)]="origin.longitude" name="longitude" ngControl="longitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destination Coordinates</ion-label>
      <ion-input type="number" required [(ngModel)]="destination.latitude" name="latitude" ngControl="latitude"></ion-input>
      <ion-input type="number" required [(ngModel)]="destination.longitude" name="longitude" ngControl="longitude"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Refresh Map</button>
  </form>

  <agm-map appDirectionsMap [showDirection]="this.displayDirections"
  [origin]="origin"
  [destination]="destination"

  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

<agm-marker
     [latitude]="origin.latitude"
     [longitude]="origin.longitude">
</agm-marker>
</agm-map>
 
<ion-button href="/home">Current Location</ion-button> 

</ion-content>
