<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Google Map</ion-title>
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="getDirection()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Where I Am
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <form #form="ngForm" (ngSubmit)="getDirectionForm()" novalidate>
    <ion-item>
      <ion-label>Origin Coordinates</ion-label>
      <ion-input type="number" required [(ngModel)]="origin.lat" name="latitude" ngControl="latitude"></ion-input>
      <ion-input type="number" required [(ngModel)]="origin.lng" name="longitude" ngControl="longitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destination Coordinates</ion-label>
      <ion-input type="number" required [(ngModel)]="destination.lat" name="latitude" ngControl="latitude"></ion-input>
      <ion-input type="number" required [(ngModel)]="destination.lng" name="longitude" ngControl="longitude"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Refresh Map</button>
  </form>

  <agm-map appDirectionsMap [showDirection]="this.displayDirections"
  [origin]="origin"
  [destination]="destination"

  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

<agm-marker
     [latitude]="origin.latitude"
     [longitude]="origin.longitude">
</agm-marker>
</agm-map>
 
 
</ion-content>
