<ion-content>
    <div class="stepsDisplayContainer" #menuBar>
        <div class="rendered-routes-header-container">
            <div class="back-button-container">
                <ion-icon
                    [routerLink]="['/routes']"
                    name="arrow-back"
                ></ion-icon>
            </div>
        </div>
        <!-- <div class="parent">
            <div
                class="test"
                *ngFor="let s of route?.routeSteps; let i = index"
            ></div>
        </div> -->
    </div>
    <div class="map-wrapper">
        <div #map id="map"></div>
    </div>
    <app-location-button
        #userCenter
        (recenterOnLocation)="recenterToUser()"
        [ngClass]="{invisible: !controlsShown}"
    ></app-location-button>
</ion-content>

<!-- <div class="test">
    <app-route-step [step]="route?.routeSteps"> </app-route-step>
</div> -->

<!-- [routeNumber]="i + 1" -->
<!-- [routeTransportMode]="routeTransportMode" -->
