:host {
    background-color: var(--ion-color-primary);
}
.map-wrapper {
    position: relative;

    #map_center {
        position: absolute;
        z-index: 99;
        height: 40px;
        width: 40px;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -41px;
    }
}
#map {
    width: 100%;
    height: 100vh;
}

.backButton {
    margin: 5px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 4px rgba(77, 69, 69, 0.5);
    ion-icon {
        zoom: 1.75;
        position: absolute;
        z-index: 1;
        color: var(--ion-color-primary-tint);
    }
}

.invisible {
    display: none;
}
