<ion-content>
    <div class="stepsDisplayContainer" #menuBar>
        <div class="rendered-routes-header-container">
            <div class="back-button-container">
                <ion-icon
                    [routerLink]="['/routes']"
                    name="arrow-back"
                ></ion-icon>
            </div>
            <div>
                <app-routes-list-item
                    [route]="route"
                    [routeNumber]="0"
                    [routeTransportMode]="routeTransportMode"
                    [routeFullDisplay]="routeFullDisplay"
                ></app-routes-list-item>
            </div>
        </div>
        <div class="parent">
            <div
                class="test"
                *ngFor="let s of route?.routeSteps; let i = index"
            >
                <app-routes-list-item-step
                    *ngIf="i < 3"
                    [step]="s"
                    [routeTransportMode]="TRANSIT"
                ></app-routes-list-item-step>
                <ion-icon
                    name="arrow-forward"
                    *ngIf="i < 2 && i !=route?.routeSteps?.length-1"
                ></ion-icon>
            </div>
        </div>
    </div>
    <div class="map-wrapper">
        <div #map id="map"></div>
    </div>
    <app-location-button
        #userCenter
        (recenterOnLocation)="recenterToUser()"
        [ngClass]="{invisible: !controlsShown}"
    ></app-location-button>
</ion-content>

<!-- <div class="test">
    <app-route-step [step]="route?.routeSteps"> </app-route-step>
</div> -->

<!-- [routeNumber]="i + 1" -->
<!-- [routeTransportMode]="routeTransportMode" -->
