<ion-content>
    <div #returnToRoutes class="backButton">
        <ion-icon (click)="eraseRoute()" [routerLink]="['/routes']" name="arrow-round-back">
        </ion-icon>
    </div>

    <div class="map-wrapper">
        <div #map id="map"></div>
    </div>

    <app-indoor-map *ngIf="mapLoaded" [map]="mapModel" [indoorMapBuildingCode]="indoorMapBuildingCode"
        [indoorMapLevel]="indoorMapLevel">
    </app-indoor-map>

    <app-location-button #userCenter (recenterOnLocation)="recenterToUser()" [ngClass]="{invisible: !controlsShown}">
    </app-location-button>

    <app-toggle-floors #switchFloor [availableFloors]="availableFloors" [selectedFloor]="newSelectedFloor"
        (toggledFloor)="switchFloors($event)" [ngClass]="{invisible: !controlsShown}">
    </app-toggle-floors>

</ion-content>