.toggle-campus {
  display: flex;
  margin-top: 9vh;
  margin-right: 1vh;
}

.leftToggle {
  border-radius: 7px 0px 0px 7px;
  font-family: roboto;
  font-size: 10px;
  user-select: none;
  padding: 0px 10px 0px 12px;
}

.rightToggle {
  border-radius: 0px 7px 7px 0px;
  font-family: roboto;
  font-size: 10px;
  user-select: none;
  padding: 0px 12px 0px 12px;
}

.selected {
  background: #6c2626;
  color: white;
}

.unselected {
  background: #ffffff;
  color: black;
}