<div class="route-step" *ngIf="step?.transport?.travelType === 'WALKING'">
    <ion-icon name="walk"></ion-icon>
    <p >{{step.duration}}</p>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'STAIRS'">
    <ion-icon src="/assets/icon/S-indoor.svg"></ion-icon>
    <p >{{step.duration}}</p>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'ESCALATOR'">
    <ion-icon src="/assets/icon/ESC-normal-indoor.svg"></ion-icon>
    <p >{{step.duration}}</p>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'ELEVATOR'">
    <ion-icon src="/assets/icon/E-indoor.svg"></ion-icon>
    <p >{{step.duration}}</p>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'SHUTTLE'">
    <ion-icon name="bus"></ion-icon>
    <span class="shuttle-span">SHUTTLE</span>
</div>
<div *ngIf="step?.transport?.travelType === 'TRANSIT'">
    <div class="route-step" *ngIf="vehicleType === 'BUS'">
        <ion-icon name="bus"></ion-icon>
        <app-transit-line-indicator class="transit-line-indicator"
            [color]="step?.transport?.transportDetails?.line?.color"
            [line]="step?.transport?.transportDetails?.line?.short_name">
        </app-transit-line-indicator>
    </div>
    <div class="route-step" *ngIf="vehicleType === 'SUBWAY'">
        <ion-icon name="subway"></ion-icon>
        <app-transit-line-indicator class="transit-line-indicator"
            [color]="step?.transport?.transportDetails?.line?.color"
            [line]="step?.transport?.transportDetails?.line?.short_name">
        </app-transit-line-indicator>
    </div>
    <div class="route-step" *ngIf="vehicleType === 'COMMUTER_TRAIN' || vehicleType === 'HEAVY_RAIL'">
        <ion-icon name="train"></ion-icon>
        <app-transit-line-indicator class="transit-line-indicator"
            [color]="step?.transport?.transportDetails?.line?.color"
            [line]="step?.transport?.transportDetails?.line?.short_name">
        </app-transit-line-indicator>
    </div>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'DRIVING'">
    <ion-icon name="car"></ion-icon>
</div>
<div class="route-step" *ngIf="step?.transport?.travelType === 'BICYCLING'">
    <ion-icon name="bicycle"></ion-icon>
</div>