.item-container{
    padding: 0px 10px;
    font-size: 12px;
    .item-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
           color:var(--ion-color-primary-contrast);

        }
    }
    .steps-container{
        display: flex;
        flex-direction: row;
        .route-steps{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            ion-icon{
                color: var(--ion-color-primary-contrast);
            }
        }
        .steps-overflow{
            display: flex;
            flex-direction: row;
            align-items: center;
            span{
                font-size: 20px;
                color:var(--ion-color-primary-contrast);

            }
        }
    }
}