<div class="routes">
  <form [formGroup]="form">
      <div class="routes-header-container">
          <div class="back-button-container">
              <ion-icon [routerLink]="['/home']"  name="arrow-back"></ion-icon>
          </div>
          <div class="main-input-container">
              <app-search [colorPrimary]="false" [showSearchIcon]="false" [placeholder]="'From'" (placeSelection)="setFrom($event)" ></app-search>
              <app-search [colorPrimary]="false" [showSearchIcon]="false" [placeholder]="'To'" (placeSelection)="setTo($event)" [topMargin]="true"></app-search>
          </div>
      </div>
      <div class="time-options">
          <div class="select-time">
              <ion-item lines="none">
                  <ion-select 
                      class="font-size-12"
                      formControlName="departAt"
                      placeholder="Depart At"
                  >
                      <ion-select-option
                          class="departure-select font-size-12"
                          value="Depart At"
                          >Depart At</ion-select-option
                      >
                      <ion-select-option
                          class="departure-select font-size-12"
                          value="Arrive By"
                          >Arrive By</ion-select-option
                      >
                  </ion-select>
              </ion-item>
              <ion-item lines="none" class="time-picker">
                  <ion-datetime
                      class="font-size-12"
                      formControlName="time"
                      displayFormat="HH:mm"
                  ></ion-datetime>
              </ion-item>
          </div>
          <div class="options-container">
              <a>Options</a>
          </div>
      </div>
  </form>
  <div class="transport-mode">
      <ion-button
          [ngClass]="{'selected': transportMode === 'WALKING'}"
          fill="clear"
          (click)="setTransportMode('WALKING')"
          [disabled]="form.invalid"
      >
          <ion-icon name="walk"></ion-icon>
      </ion-button>
      <ion-button
          [ngClass]="{'selected': transportMode === 'TRANSIT'}"
          fill="clear"
          (click)="setTransportMode('TRANSIT')"
          [disabled]="form.invalid"
      >
          <ion-icon name="bus"></ion-icon>
      </ion-button>
      <ion-button
          [ngClass]="{'selected': transportMode === 'BICYCLING'}"
          fill="clear"
          (click)="setTransportMode('BICYCLING')"
          [disabled]="form.invalid"
      >
          <ion-icon name="bicycle"></ion-icon>
      </ion-button>
      <ion-button
          [ngClass]="{'selected': transportMode === 'DRIVING'}"
          fill="clear"
          (click)="setTransportMode('DRIVING')"
          [disabled]="form.invalid"
      >
          <ion-icon name="car"></ion-icon>
      </ion-button>
  </div>
  <div class="routes-list-container">
      <app-routes-list
          *ngIf="!loading && routes"
          [routeTransportMode]="transportMode"
          [routes]="routes"
          class="routes-list"
      ></app-routes-list>
      <app-loader *ngIf="loading"></app-loader>
  </div>
</div>
