

<ion-content>
  <form [formGroup]="form">
  <div class="routes-header-container">
    <div class="back-button-container" >
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div class="main-input-container">
        <ion-item class="custom-input-container">
          <ion-input class="ion-text-center" formControlName="from" type="text"></ion-input>
        </ion-item>
        <ion-item  class="custom-input-container">
          <ion-input class="ion-text-center" formControlName="to" type="text"></ion-input>
        </ion-item>

        
      </div>
    </div>
    <div class="divider"></div>
    <div class="time-options">
      <div class="select-time">
        <ion-item class="departure-container">
          <ion-select class="font-size-12" formControlName="departAt" placeholder="Depart At">
            <ion-select-option  class="departure-select font-size-12" value="Depart At">Depart At</ion-select-option>
            <ion-select-option  class="departure-select font-size-12" value="Arrive By">Arrive By</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item  class="time-picker">
          <ion-datetime class="font-size-12" formControlName="time" displayFormat="HH:mm" ></ion-datetime>
        </ion-item>
      </div>
          <div class="options-container">
            <a>Options</a>
          </div>
    </div>
  </form>
  <div class="divider"></div>
<div class="transport-mode">
  <ion-button fill="clear" (click)="getRoutes('WALKING')">
    <ion-icon name="walk"></ion-icon>
  </ion-button>
  <ion-button fill="clear" (click)="getRoutes('TRANSIT')">
    <ion-icon name="bus"></ion-icon>
  </ion-button>
  <ion-button fill="clear" (click)="getRoutes('BICYCLING')">
    <ion-icon name="bicycle"></ion-icon>
  </ion-button>
  <ion-button fill="clear" (click)="getRoutes('DRIVING')">
    <ion-icon name="car"></ion-icon>
  </ion-button>
</div>
<div class="divider"></div>
<div class="routes-list-container">
  <app-routes-list *ngIf="!loading && routes" [routeTransportMode]="transportMode" [routes]="routes" class="routes-list"></app-routes-list>
  <app-loader *ngIf="loading"></app-loader>
</div>
{{form.value|json}}
</ion-content>

