.footer {
    white-space: nowrap;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--ion-color-primary);
 }
 
 .picture{
    width: 125px;
    height: 125px;
    display: inline-block;
    object-fit: cover;
 }

.container-top-block{
    margin: 30px 0px 10px 25px;
    vertical-align: text-bottom;
}

.container-bottom-block{
    display: flex;
}

.container-bottom-left{
    width: 100%;
    margin: auto;
    display: inline-block;
}

.container-bottom-right{
    margin: 0px 30px 25px 25px;
    float: right;
    text-align: right;
}

.container-icon{
    margin: 25px 10px 0px 0px;
    display: inline-block;
}

.left{
    padding: 0px 0px 0px 20px;
}

.container-left-title{
    margin: 0px 50px 0px 0px;
}

.info{
    padding-top: 20px;
    max-width: 140px;
    white-space: pre-line;
    text-align: left;
    word-wrap: break-word;
}

.container-schedule{
    margin: 20px 0px 0px 0px;
    display: inline-block;
}

.schedule-day{
    text-align: left;
    padding: 5px 5px 0px 0px;
}

.container-name-directions{
    position: relative;
    bottom: 30px;
    display: inline-block;
    margin: 0px 0px 0px 25px;
    line-height: normal;
    text-align: right;
}

 .text{
    color: var(--ion-color-primary-contrast);
    font-family: Roboto, sans-serif;
 }

 .building-name{
    font-size: 20px;
    max-width: 140px;
    white-space: pre-line;
    text-align: left;
    word-wrap: break-word;
    margin: 0px 0px 10px 0px;
 }

 .button-directions{
    background-color: var(--ion-color-secondary);
    border-radius: 7px 7px 7px 7px;
    padding: 8px 18px 8px 18px;
    text-align: center;
    width: 135px;
    font-size: 14px;
 }

 .line {
    width:87%;
    border-bottom: 1px solid var(--ion-color-primary-contrast);
    margin: auto;
  }

.exit-button{
    float: right;
    margin: 0px 35px 0px 0px;
}

.title-schedule{
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}

.top{
    vertical-align: top;
}

.schedule-icon{
    padding: 0px 10px 0px 0px;
}

.schedule-arrow{
    padding-left: 25px;
}