<ion-menu side="start" content-id="main-content">
    <ion-content>
        <app-side-menu></app-side-menu>
    </ion-content>      
</ion-menu>

<div class="menu" #menuBar>
    <ion-icon
        class="hamburgerMenuButton"
        name="menu"
        (click)="openMenu()"
    ></ion-icon>
    <app-search
        [isMapSet]="isMapSet"
        (showControls)="showControls()"
        (removeControls)="removeControls()"
        (placeSelection)="createMarker($event)"
        (cancelSelection)="removeMarker()"
    >
    </app-search>
</div>

<ion-content>
    <div class="map-wrapper">
        <div #map id="map"></div>
    </div>

    <app-directions-button
        [routerLink]="['/routes']"
        [ngClass]="{invisible: !controlsShown}"
        #directions
    ></app-directions-button>

    <app-indoor-map
        *ngIf="mapLoaded"
        [map]="mapModel"
        [indoorMapBuildingCode]="indoorMapBuildingCode"
        [indoorMapLevel]="indoorMapLevel"
    >
    </app-indoor-map>

    <app-toggle-campus
        #toggle
        (toggleChange)="switchCampus()"
        [ngClass]="{invisible: !controlsShown}"
    ></app-toggle-campus>

    <app-toggle-floors
        #switchFloor
        [availableFloors]="availableFloors"
        [selectedFloor]="newSelectedFloor"
        (toggledFloor)="switchFloors($event)"
        [ngClass]="{invisible: !controlsShown}"
    >
    </app-toggle-floors>

    <app-building-info> </app-building-info>

    <app-location-button
        #userCenter
        (recenterOnLocation)="recenterToUser()"
        [ngClass]="{invisible: !controlsShown}"
    ></app-location-button>
</ion-content>


